{
"blogTitle": "Magnus Lindhe",
"siteUrl": "http://www.magnuslindhe.com",
"author": "Magnus Lindhe",
"email": "magnus@org.org",
"posts": "_posts",
"layouts": "_layouts",
"theme": "mwhelan-bootstrap-theme",
"output": "../www",
"urlFormat": "yyyy/MM/slug",
"directoryname": "",
"metadescription": "Welcome, my name is Magnus Lindhe. I'm a software developer living in  Gothenburg, Sweden. I work with .NET and Industrial IT & Automation.",
"copyDirectories": [
"images",
"javascripts",
"stylesheets"
],
"processFiles": [{
"file": "index.cshtml",
"loop": "Posts"
},{
"file": "category.cshtml",
"loop": "Categories"
},{
"file": "categories.cshtml => category"
},{
"file": "archive.cshtml"
},{
"file": "about.cshtml"
},{
"file": "rss.xml",
"loop": "RSS"
},{
"file": "feed.xml",
"loop": "atom"
}]
}